<div class="tabs">
    <ul class="nav nav-tabs">
  <li class="nav-item">
      <a class="nav-link" aria-current="page" href="/home">Home</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="/login">Login</a>
  </li>
 
</ul>
</div>