<div class="tabs">
    <ul class="nav nav-tabs">
  <li class="nav-item">
      <a class="nav-link" aria-current="page" href="/home-loged">Home</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="/registro_venta">Registrar Venta</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="/ver_ventas">Ver Ventas</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="/editar_estado_ventas">Editar Estado Venta</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Otra</a>
</li>
</ul>
</div>