<%- include('./partials/head'); %>
    <body>

        <%- include('./partials/header'); %>

            <%- include('./partials/navVendedorAdmin'); %>

            <div>Aquí editará el estado de las ventas</div>



        <%-include('./partials/footer')%>
    </body>
</html>