<%- include('./partials/head'); %>
<body>

    <%- include('./partials/header'); %>

    <%-include('./partials/navOptions')%>

      


        <div class="card mt-3" style="width: 18rem;">
            <img src="./assets/accounting.jpg" class="card-img-top" alt="accounting">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>


  <%-include('./partials/footer')%>
</body>
</html>