label{
    margin-left: 0.9rem;
    color:rgb(153, 153, 153);
}

#vendedor, #fechaInicial{
    margin-left:8rem;
}

#title_registrar_venta{
    margin-bottom: 3rem;
    text-align: center;
}

#row2, #row3, #row4{
    margin-top: 2rem;
}


