*{
    margin: 0;
    padding: 0;
}

.container{
    width: 60em;
    margin: 1em auto;
    padding: 1em;
    border-radius: 1em;
}

.image{
    display: block;
    width: 50%;
    margin: auto;
    padding: 2em;
}

.footer{
    margin: 5em;
    text-align: center;
}



/*card en home*/

.card-img-top{
    display: block;
    width: 100%;
    
}

.tabs{
    margin: 2em;
}